$myColor: #3b4650;
$myFont: "Montserrat", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: $myColor;
  font-family: $myFont;
}

.header {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
  }

  &__logo {
    width: 300px;
  }

  &__main-heading {
    margin: 0 -0.5rem 0 0;
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__sub-heading {
    margin: 0 -0.25rem 0 0;
    letter-spacing: 0.25rem;
    font-size: 15px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid $myColor;
    font-size: 1.5rem;
    list-style: none;
    text-transform: uppercase;
  }

  &__item {
    width: 25%;
    line-height: 50px;
    text-align: center;
  }

  &__link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: $myColor;
    transition: 0.25s;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $myColor;
    }
  }

  &__icon {
    margin-right: 15px;
  }
}

.form-redirect {
  &__container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/background/stethoscope-1280.jpg);
    background-position: center;
    background-size: cover;
  }

  &__texts {
    width: 50%;
    height: 30%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #ffffffbf;
  }

  &__text {
    font-size: 1.6rem;
    &--supplementary {
      font-size: 1.2rem;
    }
  }

  &__button-link {
    display: block;
    width: 150px;
    height: 40px;
    border: 2px solid $myColor;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    color: $myColor;
  }
}

.information__title,
.services__title,
.cooperation__title,
.form__title,
.contact__title {
  height: 80px;
  line-height: 80px;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: $myColor;
  color: #fff;
}

.information {
  &__container {
    margin: 60px 120px;
    display: flex;
  }

  &__texts {
    width: 50%;
    padding: 0 100px;
    border-right: 1px solid $myColor;
  }

  &__text {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    &--bold {
      font-weight: bold;
    }
    &--title {
      padding: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__working-hours {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid $myColor;
    text-align: center;
  }

  &__icon {
    margin-right: 15px;
  }

  &__list {
    width: 50%;
    margin: 0 auto;
    font-size: 1.2rem;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
  }
}

.services {
  &__list {
    width: 50%;
    margin: 60px auto;
    font-size: 1.2rem;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  &__price {
    font-weight: bold;
  }
}

.cooperation {
  &__container {
    margin: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__horizontal-container {
    display: flex;
  }

  &__subtitle {
    padding: 15px;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__offer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 100px;
    border-right: 1px solid $myColor;
  }

  &__text {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    &--bold {
      font-weight: bold;
    }
  }

  &__references {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 100px;
    border-left: 1px solid $myColor;
  }

  &__images-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__cooperators {
    width: 100%;
    margin-top: 60px;
    padding: 60px 100px 0;
    border-top: 2px solid $myColor;
  }

  &__logos-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo-wrapper {
    text-align: center;
  }

  &__logo {
    height: 100px;
  }
}

.cssbox_thumb {
  border: 2px solid #000;
}

.form {
  &__container {
    width: 30%;
    margin: 60px auto;
    padding: 60px 30px;
    text-align: left;
    background-color: $myColor;
    color: #fff;
  }

  &__inputs-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__group {
    display: flex;
    flex-direction: column;
    &--regulations {
      flex-direction: row;
    }
  }
}
