$myColor: #3b4650;
$myFont: "Montserrat", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  @media screen and (orientation: landscape) and (max-width: 1366px) {
    font-size: 13px;
  }
}

body {
  color: $myColor;
  font-family: $myFont;
}

.header {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
  }

  &__logo {
    width: 300px;
  }

  &__main-heading {
    margin: 0 -0.5rem 0 0;
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__sub-heading {
    margin: 0 -0.25rem 0 0;
    letter-spacing: 0.25rem;
    font-size: 15px;
    text-transform: uppercase;
  }

  &__list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid $myColor;
    font-size: 1.5rem;
    list-style: none;
    text-transform: uppercase;
  }

  &__item {
    width: 25%;
    line-height: 50px;
    text-align: center;
  }

  &__link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: $myColor;
    transition: 0.25s;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $myColor;
    }
  }

  &__icon {
    margin-right: 15px;
  }
}

.form-redirect {
  &__container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/background/stethoscope-1280.jpg);
    background-position: center;
    background-size: cover;
  }

  &__texts {
    width: 58%;
    height: 35%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #ffffffbf;
    @media screen and (orientation: landscape) and (max-width: 1366px) {
      width: 62%;
    }
  }

  &__text {
    font-size: 1.8rem;
    &--supplementary {
      margin-top: 20px;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__button-link {
    display: block;
    width: 200px;
    height: 60px;
    border: 1px solid #fff;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $myColor;
    color: #fff;
    font-size: 1.25rem;
    box-shadow: 2px -2px 5px 0px #8080804d;
  }
}

.information__title,
.services__title,
.cooperation__title,
.form__title,
.contact__title {
  height: 80px;
  line-height: 80px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $myColor;
  color: #fff;
}

.information {
  &__container {
    margin: 60px 120px;
    display: flex;
  }

  &__texts {
    width: 50%;
    padding: 0 100px;
    border-right: 1px solid $myColor;
    @media screen and (orientation: landscape) and (max-width: 1366px) {
      padding: 0 20px;
    }
  }

  &__text {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    &--bold {
      font-weight: bold;
    }
    &--title {
      padding: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__working-hours {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid $myColor;
    text-align: center;
  }

  &__icon {
    margin-right: 15px;
  }

  &__list {
    width: 50%;
    margin: 80px auto 0;
    font-size: 1.2rem;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
  }
}

.services {
  &__list {
    width: 50%;
    margin: 60px auto;
    font-size: 1.2rem;
    @media screen and (orientation: landscape) and (max-width: 1366px) {
      width: 60%;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &--note {
      padding: 20px 20px 0;
      font-size: 0.75rem;
      text-align: justify;
    }
  }

  &__price {
    font-weight: bold;
  }
}

.cooperation {
  &__container {
    margin: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__horizontal-container {
    display: flex;
  }

  &__subtitle {
    padding: 15px;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    &--cooperators {
      @media screen and (orientation: landscape) and (max-width: 1366px) {
        padding-bottom: 40px;
      }
    }
  }

  &__offer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 100px;
    border-right: 1px solid $myColor;
  }

  &__text {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    &--bold {
      font-weight: bold;
    }
  }

  &__references {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 100px;
    border-left: 1px solid $myColor;
    @media screen and (orientation: landscape) and (max-width: 1366px) {
      padding: 0 60px;
    }
  }

  &__images-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__cooperators {
    width: 100%;
    margin-top: 60px;
    padding: 60px 60px 0;
    border-top: 2px solid $myColor;
    @media screen and (orientation: landscape) and (max-width: 1366px) {
      padding: 40px 60px 0;
    }
  }

  &__logos-wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (orientation: landscape) and (max-width: 1366px) {
      max-width: 1300px;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
  }

  &__logo-wrapper {
    text-align: center;
  }

  &__logo {
    height: 80px;
  }
}

.cssbox_thumb {
  border: 2px solid #000;
  @media screen and (orientation: landscape) and (max-width: 1366px) {
    width: 180px;
  }
}

.form {
  &__container {
    width: 30%;
    margin: 60px auto;
    padding: 60px 30px;
    text-align: left;
    background-color: $myColor;
    color: #fff;
    @media screen and (orientation: landscape) and (max-width: 1366px) {
      padding: 30px 15px;
    }
  }

  &__inputs-container {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin: 10px;

    & > input,
    & > select {
      padding: 5px;
    }

    &--regulations {
      flex-direction: row;
    }
  }

  &__input {
    &--regulations {
      margin-right: 20px;
    }
  }

  &__textarea {
    padding: 10px;
    height: 100px;
    resize: none;
  }

  &__button {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}

.contact {
  &__container {
    height: 400px;
    display: flex;
    margin: 60px 120px;
  }
  &__details,
  &__map {
    width: 50%;
  }
  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid $myColor;
  }

  &__details-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__subtitle {
    padding: 15px;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__name {
    height: 80px;
    line-height: 80px;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__list {
    font-size: 1.2rem;
    list-style: none;
    width: fit-content;
    &-item {
      height: 60px;
      line-height: 60px;
    }
  }

  &__icon {
    margin-right: 15px;
  }

  &__map {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $myColor;
    text-align: center;
    &-frame {
      flex-grow: 1;
      margin: 0 auto;
      border: 2px solid $myColor;
      border-radius: 10px;
      box-shadow: 2px -2px 5px 0px #8080804d;
      @media screen and (orientation: landscape) and (max-width: 1366px) {
        width: 500px;
      }
    }
  }
}

.footer {
  height: 150px;
  padding: 0 120px;
  display: flex;
  color: #fff;
  background-color: $myColor;

  &__container {
    height: 100%;
    text-align: center;

    &:nth-child(1),
    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(1) {
      padding-left: 100px;
      @media screen and (orientation: landscape) and (max-width: 1366px) {
        padding-left: 0;
      }
    }

    &:nth-child(2) {
      display: flex;
      padding-right: 100px;
      flex-direction: column;
      justify-content: center;
      border-left: 1px solid $myColor;
      text-align: center;
      @media screen and (orientation: landscape) and (max-width: 1366px) {
        padding-right: 0px;
      }
    }

    &:nth-child(3) {
      width: 50%;
      margin: 0 auto;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.3rem;
      @media screen and (orientation: landscape) and (max-width: 1366px) {
        padding: 15px 25px;
      }
    }
  }

  &__logo {
    margin: 22px 0;
  }

  &__text {
    font-size: 1.1rem;
    &--title {
      margin-bottom: 5px;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

.hours {
  &__title {
    text-transform: uppercase;
  }

  &__list {
    font-size: 0.8rem;
    width: 60%;
    margin: 10px auto;
    list-style: none;
    &-item {
      display: flex;
      justify-content: space-between;
    }
  }
}

.inside {
  display: inline-block;
  text-align: right;
  width: 70px;
  padding-left: 10px;
}
